

.icon-list-wrapper
  border:1px solid #5e6ebf
  position: absolute
  background-color: rgb(13,20,45,0.7)
  width: 60px
  height: 218px
  left: 42px
  top: 62px
  z-index: 33
  padding: 2px
  
.icon-list-wrapper .icon-item
  font-size: xx-large
  background: #2e3459
  padding: 7px 8px
  border: 1px solid transparent

.icon-list-wrapper .icon-item:hover
  border: 1px solid #2d76ce;
  background: #194076;

.icon-list-wrapper .icon-item i 
  position: absolute
  right: 2px
  top: 32px
  font-size: xx-small