<div *ngIf="model" class="garbage-retention-number">
  <h2 class="rank-title">{{ title }}</h2>

  <div class="rank-wrapper">
    <div class="rank-item" *ngFor="let item of model.datas; let i = index">
      <div class="rank-item__group">
        <div
          class="rank-item__number"
          [ngStyle]="{ background: i < 3 ? '#ffba00' : '#7f94ff' }"
        >
          {{ i + 1 }}
        </div>
        <div class="rank-item__link">
          <a href="javascript:">{{ item.Name }}</a>
        </div>
      </div>
      <div class="rank-item__count">
        {{ item.Time }}
        <span class="rank-item__count--unit">{{ unit }}</span>
      </div>
    </div>
  </div>
</div>
