<ng-container *ngIf="!hideButton">
  <a
    class="nav-link waves-effect waves-dark logout p-t-0 p-b-0"
    href="javascript:void(0)"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="howell-icon-account m-r-10 light-blue text-icon"></i>
  </a>
  <a
    href="/assets/help/help.html"
    target="_blank"
    class="nav-link waves-effect waves-dark help p-t-0 p-b-0"
  >
    <i class="mdi mdi-help-circle light-blue text-icon"></i>
  </a>
</ng-container>

<div
  class="dropdown-menu p-b-0 p-t-0 m-t-10 list-wrap"
  x-placement="bottom-start"
>
  <a
    href="javascript:void(0)"
    class="dropdown-item light-blue-text ele-nowrap username"
  >
    <i class="howell-icon-account"> </i>
    {{ username }}
  </a>
  <a
    *ngIf="display.changePassword"
    href="javascript:void(0)"
    class="dropdown-item light-blue-text"
    (click)="changePasswordClick($event)"
    ><i class="mdi mdi-key p-r-5"></i>修改密码</a
  >
  <a
    *ngIf="display.changeMobile"
    href="javascript:void(0)"
    class="dropdown-item light-blue-text"
    (click)="changeMobileClick($event)"
    ><i class="mdi mdi-cellphone-iphone p-r-5"></i>绑定新手机</a
  >
  <a
    routerLink="/login"
    href="javascript:void(0)"
    class="dropdown-item light-blue-text"
    style="font-size: 16px"
    (click)="logOut()"
  >
    <i class="mdi mdi-logout p-r-5"></i>退出登录</a
  >
</div>
