table {
    border-collapse: collapse;
}
th,td {
   padding: 0
}

.text-nowrap
  overflow: hidden
  white-space: nowrap

.bg-house-door
  position: absolute
  left: 0
  top: 22%

.bg-house-trash
  position: absolute
  left: 4px
  top: 38%

.deploy-table
  top: 0
  position: absolute
  height 434px

.plus-square
  width:30px
  height:30px
  text-align: center
  padding-top: 2px
  position relative
  background-color:rgb(18,33,79)
  // border:1px #6997ff solid


.sky-blue-border
 border: 1px #6997ff solid

.green-border
 border: 1px #21E452 solid




.text-square
  text-align: center
  height: 26px
  width: 130px
  // margin-top: 4px
  background-color: alpha(#000,0.5)


.plus-square.hint:hover
  border 1px  #3a93ff solid 

.plus-square.hint:hover .howell-icon-plus
  color white  

.minus-square
  position: absolute
  color: #fd2f2d
  width: 28px
  top: 0px
  left: 0px
  background-color: alpha(#000,0.2)
  height: 28px 
  display: none

.minus-square i 
  position relative
  top 2px

.plus-square.green-border:hover .minus-square
  display:  block


.text-square.outside
  margin-top: 4px
  padding-top: 3px

.outside-square-left-top
  position:absolute
  top: 14px
  left: 30px
  width: 160px

.outside-square-left-bottom
  position:absolute
  bottom: 14px
  left: 10px
  width: 160px

.outside-square-right-top
  position:absolute
  top: 14px
  right 0px
  width: 130px

.outside-square-right-bottom
  position:absolute
  bottom: 14px
  right: -22px;
  width: 130px;

.inside-group1-square
  position: absolute
  width: 100%
  left: 58px
  bottom: 92px

.inside-group1-line-square
  position: absolute 

  bottom: 62px

.inside-group2-square
 position: absolute 
 left: 122px
 bottom: 60px

.inside-group2-line-square
  position: absolute
  width: 361px
  left: 102px
  bottom: 30px



.line-square
  width:30px
  height:30px
  float left

.line-square>.line
  background-color: rgb(105,151,255,0.5)
  width: 1px
  height: 30px 

.line-square>.line.left 
  transform: rotate(38deg)

.line-square>.line.right 
  transform: rotate(138deg)

.icon-wrapper
  width: 142px
  height: 74px
  text-align: center

.icon-wrapper .down-icon
  font-size: medium
  position: absolute
  top: 12px
  left 42px

.custom.form-control.mini
  min-height: 27px
  background-color: rgba(29,35,59,0)
  text-align: center
  padding: 0

.position-tag
  position: absolute
  background-color: #2d76ce
  color: white
  top: 8px
  left: 29px
  padding: 0 3px
  font-size: 14px