table {
    border-collapse: collapse;
}
th,td {
   padding: 0
}

.bg-house-door
  position: absolute
  left: 0
  top: 22%

.bg-house-trash
  position: absolute
  left: 4px
  top: 38%

.deploy-table
  top: 0
  position: absolute
  height 434px

.plus-square
  width:30px
  height:30px
  text-align: center
  padding-top: 2px
  background-color:rgb(18,33,79)
  border:1px #6997ff solid

.text-square
  text-align: center
  height: 26px
  width: 70px
  // margin-top: 4px
  background-color: alpha(#000,0.5)

.text-square.outside
  margin-top: 4px
  padding-top: 1px

.outside-square-left-top
  position:absolute
  top: 14px
  left: 54px
  width: 70px

.outside-square-left-bottom
  position:absolute
  bottom: 14px
  left: 32px
  width: 70px

.outside-square-right-top
  position:absolute
  top: 14px
  left: 34px
  width: 70px

.outside-square-right-bottom
  position:absolute
  bottom: 14px
  left: 56px
  width: 70px

.inside-group1-square
  position: absolute
  width: 100%
  left: 54px
  bottom: 92px

.inside-group1-line-square
  position: absolute 
  left: 34px;
  bottom: 62px

.inside-group2-square
 position: absolute 
 left: 122px
 bottom: 60px

.inside-group2-line-square
  position: absolute
  width: 361px
  left: 102px
  bottom: 30px



.line-square
  width:30px
  height:30px
  float left

.line-square>.line
  background-color: rgb(105,151,255,0.5)
  width: 1px
  height: 30px 

.line-square>.line.left 
  transform: rotate(38deg)

.line-square>.line.right 
  transform: rotate(138deg)

.icon-wrapper
  width: 142px
  height: 74px
  text-align: center

.icon-wrapper .down-icon
  font-size: medium
  position: absolute
  top: 12px
  left 42px