<div class="fill-height"> 
  <div class="fill-height fill-width hw-content-mask collapse"
    [class.in]="businessService.galleryTargetView.galleryTarget">
    <div style="width: 80%;height: 80%;margin-left: 10%;margin-top: 6%;">
      <hw-gallery-target [model]="businessService.galleryTargetView.galleryTarget"
      [imgEventFn]="businessService.galleryTargetView.galleryTargetPageFn"
      [videoFn]="businessService.playVideoFn"
      [closeViewFn]="galleryTargetFn">
      </hw-gallery-target>
    </div>
  </div>
  <div class="fill-height fill-width hw-content-mask collapse" [class.in]="businessService.playVideo">
    <div style="width: 80%;height: 80%;margin-left: 10%;margin-top: 6%;">
      <ng-container *ngIf="businessService.playVideo">
        <hw-video-simple-card [closeFn]="videoClose" [url]="businessService.playVideo.url" [autostart]="true"
          [cameraName]="businessService.playVideo.name"></hw-video-simple-card>
      </ng-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="second-title-bg text">
      垃圾房
    </div>
    <div fxLayoutAlign="center center">
      <hw-input-search [searchEvent]="searchFn" [placeholder]="'名称'"></hw-input-search>     
    </div>
  </div> 
  <div style="height: calc(100% - 70px);">
    <hw-custom-table #table [model]="businessService.table.dataSource"></hw-custom-table>
  </div>
</div>