.form-content
    overflow: auto
    height: calc(100% - 100px)

::-webkit-scrollbar 
    width:4px;  


// .text-tag-wrap
//   padding: 5px
//   min-height: 34px
//   background-color: #1d233b
//   border: 1px solid #5e6ebf

// .text-tag-wrap>a
//   padding: 4px
//   height: 24px
//   margin-right 10px
//   background: rgb(68,76,112)

// .text-tag-wrap a  
//   color #eaedff

// .checkbox-pool-wrap
//     padding: 10px
//     min-height: 60px
//     background-color: #1d233b
//     border: 1px solid #5e6ebf