<ng-container *ngIf="model"> 
  <div style="position: relative;"  (click)="$event.stopPropagation();">
    <div class="m-t-10 header-wrap" (click)="showBody=!showBody; $event.stopPropagation();" fxLayout="row" fxLayoutAlign="space-between stretch">
     
      <div fxFlex class="ele-nowrap">
        <h4 class="light-blue-text p-t-5 p-l-10 m-b-0"> {{selectedItem}}</h4>
       
      </div>
      <button type="button" fxFlex="30px" class="btn to-down">
        <i class="mdi mdi-menu-down"></i>
      </button>
    </div>
    <div class="fill-width body-wrap collapse" [class.in]="showBody">
      
      <div class="fill-width drop-list-wrap" >    
        
          <ul class="p-l-0 m-b-0 collapse" [class.in]="prevItem">
            <li (click)="prevItemClick()">
              <a  href="javascript:void(0)"  class="li-a">上一级</a>
            </li>
          </ul> 
        <ul class="p-l-0 m-b-0 fine" style="max-height: 200px;overflow: auto;">
          <ng-container *ngFor="let n of nodes">
            <li (click)="itemClick(n)">
              <a  href="javascript:void(0)"  class="li-a">{{n.name}}</a>
            </li>
          </ng-container>
        </ul>
   
         
      </div>
    </div>
  </div>
</ng-container>