.drop-list-wrap ul li
  list-style: none; 
  font-size: 16px
  padding-left: 10px 
  height 30px
  width 100%

.drop-list-wrap ul li:hover
  background-color: #1E90FF

.drop-list-wrap ul li:hover a
  color: white

.header-wrap
  margin 0
  border: 1px solid #5e6ebf
  cursor pointer
  background-color: #1d233b
  height 34px 

.body-wrap
    border: 1px solid #5E6EBF
    background: #0c1127 
    position: absolute
    z-index 30

  .btn.to-down 
    border: 0
    padding: 2px
    height: 30px
    background: transparent

.btn.to-down i
  color: #69ADFF
  font-size: x-large;
  position: relative;
  bottom: 2px;

.li-a
  position: relative
  top: 2px
  font-size: larger
  color: #cfd7ff

