.arrow-wrap 
    background-color:alpha(#ffffff,0.1)
    padding 6px
    border-radius: 50%
    color: alpha(#ffffff,0.7)

.arrow-wrap:hover 
    background-color:alpha(#ffffff,0.2) 
    color: white

.title-wrap
    width: 190px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    position: relative
    top: 6px


.close-winow-wrap
 position absolute
 right 18px
 top 4px 

.close-winow-wrap>i 
    color white

.error
    color: white;
    width: 98%;
    height: 153px; 
    text-align: center; 
    line-height:  153px
    position absolute
    top 0

.img-wrapper
    border 2px solid  transparent
    cursor pointer

.img-wrapper:hover
    border  2px solid #2d76ce

