<div class="custom-form-wrap" style="width: 800px;">
  <h2>添加流转服务</h2>
  <form class="form-content m-b-20 " style="height:calc(100% - 86px);" [formGroup]="formService.baseForm"
    (ngSubmit)="onSubmit()">
    <div class="fill-height">
      <input type="reset" #resetBtn class="collapse" value="">
      <div fxLayout="row" class="form-group">
        <div fxFlex="50">
          <label class="custom control-label tran-input-label">名称</label>
          <span class="text-danger p-t-10">*</span>
          <input class="form-control custom" formControlName="Name">
        </div>
        <div fxFlex fxFlexOffset="10px">
          <label class="custom control-label tran-input-label">协议类型</label>
          <select class="form-control custom custom-select" formControlName="ProtocolType">
            <option value="Howell">Howell</option>
          </select>
        </div>
      </div>
      <div fxLayout="row" class="form-group">
        <div fxFlex="50">
          <label class="custom control-label tran-input-label">用户名</label>
          <input class="form-control custom" formControlName="Username">
        </div>
        <div fxFlex fxFlexOffset="10px">
          <label class="custom control-label tran-input-label">密码</label>
          <input class="form-control custom" formControlName="Password">
        </div>
      </div>
      <div fxLayout="row" class="form-group">
        <div fxFlex="100">
          <label class="custom control-label tran-input-label">地址</label>
          <span class="text-danger p-t-10">*</span>
          <ul class="nav nav-tabs customtab2 m-b-10" role="tablist">
            <ng-container *ngFor="let item of formService.addressForm;let j=index;">
              <li class="nav-item">
                <a class="nav-link text" (click)="formService.addressTabSelectedIndex=j" [class.active]="formService.addressTabSelectedIndex==j" data-toggle="tab" href="#address{{j}}" role="tab" aria-selected="true">
                  地址{{j+1}}
                  <a href="javascript:void(0)" (click)="formService.delAddressForm(j)" *ngIf="j>0"><i class="howell-icon-Close"></i></a>
                </a>
              </li>
            </ng-container>
            <li>
              <a href="javascript:void(0)" (click)="formService.plusAddressForm()" class="nav-plus"><i class="howell-icon-pluscircle"></i></a>
            </li>
          </ul>
          <div class="tab-content fine address-tabs">
            <ng-container *ngFor="let item of formService.addressForm;let j=index;">
              <div class="tab-pane " [class.active]="formService.addressTabSelectedIndex==j"  id="address{{j}}" role="tabpanel">
                <div [formGroup]="formService.addressForm[j]">
                  <div fxLayout="row" class="form-group">
                    <div fxFlex="50">
                      <label class="custom control-label tran-input-label">IP地址</label>
                      <span class="text-danger p-t-10">*</span>
                      <input class="form-control custom" formControlName="IPAddress">
                    </div>
                    <div fxFlex fxFlexOffset="10px">
                      <label class="custom control-label tran-input-label">端口号</label>
                      <span class="text-danger p-t-10">*</span>
                      <input class="form-control custom" formControlName="Port">
                    </div>
                  </div>
                  <div fxLayout="row" class="form-group">
                    <div fxFlex="50">
                      <label class="custom control-label tran-input-label">互联网IP</label>
                      <span class="text-danger p-t-10">*</span>
                      <select class="form-control custom custom-select" formControlName="IsInternet">
                        <option value="1">是</option>
                        <option value="0">否</option>
                      </select>
                    </div>
                    <div fxFlex fxFlexOffset="10px">
                      <label class="custom control-label tran-input-label">直连IP地址</label>
                      <span class="text-danger p-t-10">*</span>
                      <select class="form-control custom custom-select" formControlName="IsDefault">
                        <option value="1">是</option>
                        <option value="0">否</option>
                      </select>
                    </div>
                  </div>
                  <div fxLayout="row" class="form-group">
                    <div fxFlex="50">
                      <label class="custom control-label tran-input-label">RTSP端口号</label>
                      <input class="form-control custom" formControlName="RtspPort">
                    </div>
                    <div fxFlex fxFlexOffset="10px">
                      <label class="custom control-label tran-input-label">RTMP端口号</label>
                      <input class="form-control custom" formControlName="RtmpPort">
                    </div>
                  </div>
                  <div fxLayout="row" >
                    <div fxFlex="50">
                      <label class="custom control-label tran-input-label">HTTP端口号</label>
                      <input class="form-control custom" formControlName="HttpPort">
                    </div>
                    <div fxFlex fxFlexOffset="10px">
                      <label class="custom control-label tran-input-label">Websocket端口号</label>
                      <input class="form-control custom" formControlName="WsPort">
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>


        </div>
      </div>

    </div>
  </form>

  <div class="text-center">
    <button class="hw-green-m-btn m-r-10" (click)="onSubmit()">
      <i class="howell-icon-Check"></i>
    </button>
    <button class="hw-gray-m-btn" (click)="onCancel()">
      <i class="howell-icon-Close"></i>
    </button>
  </div>
</div>