.time-wraper
    height: 46px
    border-radius: 20px
    width: 220px
    padding: 10px 0px 10px 16px    
    background-color: #2D3559

.left-wraper-label
    width: 46%
    float: left
    text-align: center
    font-size: 18px
    line-height: 1
    border-right: 1px gray solid
    color: white
    padding: 4px 0

.right-wraper
    width: 54%
    color: #D0D7FF
    float: right
    padding: 0px 0 4px 10px

.right-wraper p
    margin: 0
    font-size: 12px
    line-height: 1 

.colon-font
    position relative
    top -1px