.single-pic-wrap
    height: 80px
    border: 1px solid #5e6ebf
    background:#0d1f38

.list-wrap
    position: absolute
    left: 90px
    top:0
    border: 1px solid #5e6ebf
    background:#0d1f38
    max-height: 171px
    overflow: auto
    z-index 30
    width: calc(100% - 96px)
 

.list-wrap a
    height: 77px
    background:#2e3459
    position: relative
    border: 1px solid transparent  

.list-wrap a:hover 
    border: 1px solid #2d76ce  
    background: #194076

.list-wrap a i
    position: absolute
    right: 4px
    bottom: 0

