<div style="position: relative;"  (click)="$event.stopPropagation();">
    <div fxLayout="row">
        <a  href="javascript:void(0)" (click)="showList=true"  fxLayoutAlign="center center" fxFlex="80px" class="single-pic-wrap">
            <ng-container *ngIf="checkedItem">
                <img src="{{checkedItem.content}}" class="fill-width fill-height" alt="">
            </ng-container>          
        </a>
    </div>
    <div class="p-t-5 p-l-5 list-wrap fine collapse" [class.in]="showList">
        <div fxLayout="row wrap" >
            <a href="javascript:void(0)" (click)="itemClick(item)" fxLayoutAlign="center center" class="m-r-5 m-b-5 " fxFlex="76px" 
            *ngFor="let item of model">
                <img  src="{{item.content}}" class="fill-width fill-height" alt="">
                <strong><i class="howell-icon-Check" *ngIf="item.checked" style="color:rgb(77,207,105)"></i></strong>            
            </a>       
        </div>
    </div>
</div>