.search-wrap
  position relative
.search-wrap button
    position: absolute
    right: 0
    top: 0
    float: left
    border: 0
    background: transparent
    font-size: 20px
    cursor: pointer
    color: #7f94ff

.search-wrap button:hover  
      color: #3a93ff 
   