
.switch-wrap
  float: left
  bottom: 2px
  position: relative
  margin-right: 10px

.title-wrap
    font-size: 20px
    height: 30px
    line-height: 20px
    color: white

.img-wrap
    height: calc(100% - 30px)
    position: relative

.canvas-position
    position:absolute
    left: 0
    top: 0

.arrow-wrap
    font-size: xxx-large
    background-color: #ffffff33
    width: 70px
    height: 70px
    border-radius: 50%
