<div   class="fill-height fill-width">
  <div   class="custom-form-wrap">
    <div class="title-wrap">
      <div class="pull-left" style="width: 220px;">详细图片
      </div>
      <div class="pull-right">
        <div class="switch-wrap">
          <label class="m-b-0 m-r-10" style="font-size: 14px;">目标信息</label>
          <hw-switch [onFn]="onDescFn"></hw-switch>
        </div>
        <a href="javascript:void(0)" class="close-winow" (click)="closeViewClick()">
          <i class="howell-icon-Close alert-window-close-btn"></i>
        </a>
      </div>
    </div>
    <div class="fill-width img-wrap">
      <ng-container *ngIf="model">
        <img id="enlargeImage" width="100%" class="fill-height " src="{{model.enlargeImage}}"
          onerror="this.src='../assets/img/timg-pic.jpg'" alt="">
        <canvas class="collapse canvas-position" [class.in]="onDesc"  id="polygonCanvas"
          width="{{enlargeImageSize.width}}" height="{{ enlargeImageSize.height}}"></canvas>
        <a class="carousel-control-prev" 
        [ngStyle]="{'visibility': model.imgPrev ?'visible':'hidden'}"
        href="javascript:void(0)" (click)="imgPageClick(imgEvent.prev)">
          <span style="font-size: xxx-large;" class="howell-icon-arrowleftbold blue-text"></span>
        </a>
        <a class="carousel-control-next"    [ngStyle]="{'visibility': model.imgNext ?'visible':'hidden'}"
        (click)="imgPageClick(imgEvent.next)">
          <span  style="font-size: xxx-large;" class="howell-icon-arrowrightbold blue-text"></span>
        </a>
      </ng-container>
    </div>
  </div>

</div>