<ng-container *ngIf="model">
  <h2>
    {{model.title}}
    <ng-container *ngIf="model.dropList">
      <div class="pull-right m-r-10" style="width: 110px;">
        <hw-select-option [model]="model.dropList" [selectedItemFn]="selectedItemFn"></hw-select-option>
      </div> 
    </ng-container>
  </h2>
  
  <div class="content-wrapper p-t-20  ">
    <div class="fill-width fill-height p-r-30 fine" style="overflow: auto;">

      <div *ngFor="let item of model.table;let i= index" fxLayout="row" style="height: calc(100%/6);" class="top6-list">
        <div fxFlex="12">
          <div class="number-item" [ngStyle]="{'background': i<3?'#ffba00':'#7f94ff'}">
            <h5 class="item-label">{{ i+1}}</h5>
          </div>
        </div>
        <div fxFlex="54">
          <h4 class="light-blue-text ele-nowrap">{{item.name}}</h4>
        </div>
        <div fxFlex="34">
          <h4 class="m-0 sky-blue-text2 " style="text-align: right;">{{ item.subName}}
            <label class="number-suffix">{{item.subNameAfter}}</label>
          </h4>
        </div>
      </div>
    </div>
  </div>

</ng-container>