
.text-tag-wrap 
  min-height: 36px 

.text-tag-wrap>a
  padding: 5px 10px 5px 10px
  height: 24px
  margin-right 5px
  background: rgb(68,76,112)


.text-tag-wrap>a>a:hover{
  color: rgb(225,94,100)
}

.text-tag-wrap a  
  color #eaedff
  font-size: 14px

.text-tag-wrap>a.selected 
   background green

.checkbox-pool-wrap
    padding: 10px 10px 0px 10px   
    background-color: #1d233b
    border: 1px solid #5e6ebf


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked 
  position: unset
  left: unset 
  width: 0

 