

<ng-container *ngIf="model">
  <div  style="height: 500px;">
    <div class="fill-width m-b-10">
      <div class="checkbox-pool-wrap" style="height: 300px;">
        <div style="font-size: 20px;color: #cfd7ff;margin-bottom: 10px;">绑定新标签</div>
        <div fxLayout="row" fxLayoutAlign="space-between stretch" >
          <div style="width: calc(100% - 56px);">
            <hw-input-search  [placeholder]="'名称'"  #search [searchEvent]="filter1Hide"></hw-input-search>
          </div>
          <button (click)="addTagClick()" style="font-size: larger;" type="button" class="hw-cyan-m-btn">
              <i class="howell-icon-plus"></i>
          </button>
        </div>
        <div class="m-t-10" fxLayout="row wrap">  
          <div class="text-tag-wrap green" fxFlex="100" >        
            <a [class.selected]="item.checked" href="javascript:void(0)" (click)="item.checked=!item.checked;$event.stopPropagation();" *ngFor="let item of filter1Checked">
              <label class="m-r-10">{{item.text}}</label>
              <a href="javascript:void(0)" (click)="delFilter1Click(item);$event.stopPropagation();"><i class="howell-icon-Close"></i></a>
            </a> 
          </div>
        </div>
      </div>
    </div>
    <div class="fill-width">
      <div class="checkbox-pool-wrap"  style="height: 170px;">
        <div style="font-size: 20px;color: #cfd7ff;margin-bottom: 10px;">取消原标签</div>
        <div fxLayout="row" fxLayoutAlign="space-between stretch" >
          <div class="fill-width">
            <hw-input-search [placeholder]="'名称'" #search [searchEvent]="filter2Hide"></hw-input-search>
          </div>
     
        </div>
        <div class="m-t-10" fxLayout="row wrap">  
          <div class="text-tag-wrap blue" fxFlex="100" >        
            <a href="javascript:void(0)"  *ngFor="let item of filter2Checked">
              <label class="m-r-10">{{item.text}}</label>
              <a href="javascript:void(0)" (click)="item.checked=true;item.del=true;$event.stopPropagation();"><i class="howell-icon-Close"></i></a>
            </a> 
          </div>
        </div>
      </div>
    </div>
 
  </div>
</ng-container>