<div class="fill-height division-manage">
  <!--删除功能对话框-->
  <ng-container *ngIf="showDialog">
    <div class="fill-height fill-width hw-content-mask">
      <hw-confirm-dialog
        [dialog]="confirmDialog"
        (dialogMsg)="dialogMsg($event)"
      ></hw-confirm-dialog>
    </div>
  </ng-container>

  <div class="aside m-r-20">
    <h2 class="m-b-20">区划列表</h2>
    <div class="m-b-10">
      <button
        class="hw-green-btn m-r-10"
        [ngClass]="{
          ' gray-text': !enableAddBtn,
          black: !enableAddBtn
        }"
        [disabled]="!enableAddBtn"
        (click)="addBtnClick()"
      >
        <i class="howell-icon-plus"></i>
        添加
      </button>
      <button
        class="hw-red-btn m-r-10"
        [ngClass]="{ ' gray-text': !enableDelBtn, black: !enableDelBtn }"
        [disabled]="!enableDelBtn"
        (click)="delBtnClick()"
      >
        <i class="howell-icon-delete-bin"></i> 删除
      </button>

      <button
        class="hw-blue-btn"
        [ngClass]="{ ' gray-text': !enableEditBtn, black: !enableEditBtn }"
        [disabled]="!enableEditBtn"
        (click)="editBtnClick()"
      >
        <i class="howell-icon-move2"></i> 编辑
      </button>
    </div>
    <div style="height: calc(100% - 60px)">
      <hw-division-tree
        #stationTree
        [onlyDivisionNode]="true"
        (itemChange)="itemChangeHandler($event)"
        (searchChange)="searchChangeHandler($event)"
        (itemExpandClickedEvent)="itemExpandHandler($event)"
        [holdStatus]="holdStatus"
        [ngStyle]="{ 'user-select': 'none' }"
      ></hw-division-tree>
    </div>
  </div>

  <div class="content">
    <div class="division-form">
      <h2 class="m-b-20">{{ title }}</h2>
      <form [formGroup]="divisionForm">
        <div class="form-group">
          <label class="form-label tran-input-label">区划ID </label>
          <input class="form-control custom" formControlName="Id" />
        </div>

        <div class="form-group">
          <label class="form-label tran-input-label"> 区划名称 </label>
          <input class="form-control custom" formControlName="Name" />
        </div>

        <div class="form-group" [hidden]="state == 1">
          <label class="form-label tran-input-label"> 上级区划名称 </label>
          <input class="form-control custom" formControlName="ParentName" />
        </div>
        <div class="form-group">
          <label class="form-label tran-input-label">区划描述 </label>
          <textarea
            formControlName="Description"
            cols="30"
            rows="10"
            class="form-control custom"
          ></textarea>
        </div>
        <div class="form-group btns" [class.show]="state">
          <button class="hw-green-m-btn m-r-10" (click)="onSubmit()">
            <i class="howell-icon-Check"></i>
          </button>
          <button class="hw-gray-m-btn" (click)="onCancel()">
            <i class="howell-icon-Close"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
