<div *ngIf="model" class="garbage-retention-number">
  <div class="rank-head">
    <h2 class="rank-title">{{ title }}</h2>
    <div class="rank-select">
      <div class="rank-select__head">
        <div class="rank-select__title">滞留时长</div>
        <button class="rank-select__button" type="button">
          <i class="rank-select__button--arrow"></i>
        </button>
      </div>
      <div class="rank-select__body" hidden>
        <div class="option">滞留时长</div>
        <div class="option">滞留时长</div>
      </div>
    </div>
  </div>
  <div class="rank-body">
    <div class="rank-item" *ngFor="let item of model.datas; let i = index">
      <div class="rank-item__group">
        <div
          class="rank-item__number"
          [ngStyle]="{ background: i < 3 ? '#ffba00' : '#7f94ff' }"
        >
          {{ i + 1 }}
        </div>
        <div class="rank-item__link">
          <a href="javascript:">{{ item.name }}</a>
        </div>
      </div>
      <div class="rank-item__count">
        {{ item.time }}
        <span class="rank-item__count--unit">{{ unit }}</span>
      </div>
    </div>
  </div>
</div>
