<div  class="fill-height" style="position: relative;">
  <div class="fill-height collapse" [class.in]="viewsShow[0]">
    <hw-illegal-drop-event-history [fillMode]="divisionBusinessService.illegalDropMode" 
    (OtherViewEvent)="acceptOtherView($event)" [isPage]="defaultSearch"
   ></hw-illegal-drop-event-history>
  </div>
  <div class="fill-height collapse"  [class.in]="viewsShow[1]">
    <hw-illegal-drop-event-analyze   
    (OtherViewEvent)="acceptOtherView($event)"></hw-illegal-drop-event-analyze>
  </div>
  <div class="fill-height collapse"  [class.in]="viewsShow[2]">
    <hw-illegal-drop-event-chart  [isDefaultSearch]="true"
    (OtherViewEvent)="acceptOtherView($event)"></hw-illegal-drop-event-chart>
  </div>
</div> 
