<div class="login-panel">
  <div class="flex-item-center fill-width fill-height" fxLayoutAlign="center">
    <div style="margin-top: 6%">
      <h2 class="text-center m-b-20">找回密码</h2>
      <div class="blue-parting-line"></div>
      <div>
        <form [formGroup]="form">
          <div class="flex-item-center m-t-20">
            <div class="input-box">
              <div class="icon-box">
                <div class="mdi mdi-cellphone-iphone f-s-20"></div>
                <div class="line"></div>
              </div>
              <div class="text-box">
                <input
                  class="form-control text"
                  type="text"
                  #userName
                  formControlName="mobileNo"
                  placeholder="已绑定的手机号码"
                />
              </div>
            </div>
            <div class="check-code">
              <div class="input-box">
                <div class="icon-box">
                  <div class="mdi mdi-comment-outline f-s-20"></div>
                  <div class="line"></div>
                </div>
                <div class="text-box">
                  <input
                    class="form-control text"
                    type="text"
                    #userName
                    formControlName="checkCode"
                    placeholder="短信验证码"
                  />
                </div>
              </div>

              <div>
                <button #checkCodeButton (click)="getCheckCode($event)">
                  获取验证码<span *ngIf="seconds > 0">({{ seconds }})</span>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="fill-width password-state" style="line-height: 1">
          <div>
            <a style="cursor: pointer" (click)="backToLogin()">返回登录</a>
          </div>
        </div>
        <div class="flex-item-center m-t-0">
          <button class="btn login-btn" (click)="next()">
            <h2 class="m-0">下一步</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
