.page-titles.url
    padding-top 13px
    padding-left 20px
    background unset
    margin unset  
    box-shadow unset

.page-titles.url .breadcrumb-item,.page-titles.url .breadcrumb-item a
    color #8997df

.page-titles.url .breadcrumb-item::before
    color #6070c6 