.card-wrap{
  background-color: #2448a50d;  
  border: 2px #7586e00f solid;
  height:  100%;
  padding: 20px;
}

.map-box
{
  height: 100%;
}

.map-box .tools{
  height: 50px;
  margin-bottom: 5px;
}
.map-box .tools .text{
  color:white;
  border: none;
  background-color: transparent;
  width:100px;
  text-align: right;
}

.map-box .map {  
  border: none;  
  margin: 0;
  padding: 0;
  height: calc(100% - 55px);
  display: block;  
  background-color: #0c1127;
}