<div class="statistic-summary light-blue-text">
  <div class="header">
    <div class="second-title-bg text title">每日汇总</div>
    <div class="operation">
      <div class="date">
        <div>
          <input
            type="text"
            id="dtp1"
            #dtp1
            readonly
            DateTimePicker
            [format]="'yyyy年mm月dd日'"
            [startView]="2"
            [minView]="2"
            [defaultVal]="day"
            [changeDate]="changeDate"
            class="hw-form-control form-control p-r-0"
            style="padding: 0; width: 190px"
          /><i class="mdi mdi-menu-down light-blue-text"></i>
        </div>
      </div>
      <div class="unit dropdown">
        <div (click)="timeUnitChanging($event)">
          日报表<i class="mdi mdi-menu-down light-blue-text"></i>
        </div>
        <div class="dropdown control" *ngIf="display_timeunit">
          <ng-container *ngFor="let item of TimeUnits">
            <div class="item" (click)="unitChanged($event, item.value)">
              {{ item.language }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="statistic-summary-header">
      <app-statistic-summary-header
        [DivisonStatistic]="divisionHistory"
      ></app-statistic-summary-header>
    </div>
    <div class="statistic-summary-charts">
      <app-statistic-summary-charts
        [DivisonStatistic]="divisionHistory"
        [StationStatistic]="stationStatistic"
      ></app-statistic-summary-charts>
    </div>
  </div>
</div>
