.page {
	position: relative
}

.page .custom-pagination,.page.custom-pagination ul,.page .custom-pagination ul li,.page .custom-pagination .page-to input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.page .custom-pagination {
	height: 30px;
	color: #666;
	text-align: center;
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 0;
}

.page .custom-pagination ul {
	float: left;
	height:  30px;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	overflow: hidden;
	white-space: no-wrap
}

.page .custom-pagination ul li {
	display: inline-block;
	font-size: 16px;
	min-width: 30px;
	padding: 0;
	height: 30px;;
	line-height: 30px;
	margin-left: 1px; 
	color: #cfd7ff;
	cursor: pointer;
	vertical-align: top
}

.page .custom-pagination ul li:first-child {
	margin-left: 0
}

.page .custom-pagination ul li.current-page {
	background-color: #68ADFD;
	color: #fff;
	border: 0;
	line-height: 30px;
}

.page .custom-pagination ul li:hover {
	background-color: #68ADFD;
	color: #fff
}

.page .custom-pagination a.prev-page,.custom-pagination a.next-page {
	display: block;
	float: left;
	width: 30px;
	height:  30px;
	line-height:  30px;
	background-color: rgba(105,151,255,0.2);
	cursor: pointer;
	vertical-align: middle;
	color: #cfd7ff;
	text-decoration: none
}

.page .custom-pagination a.prev-page {
	margin-right: 10px
}

.page .custom-pagination a.next-page {
	margin-left: 10px
}

.page .custom-pagination a.prev-page:hover,.page .custom-pagination a.next-page:hover {
	background-color: #4596ce;
	color: #fff
}

.page .custom-pagination ul li.ellipsis {
	background-color: transparent;
	border: 0;
	cursor: default;
	line-height: 30px;
	font-size: 16px;
	color: #cfd7ff;
}

/* .page .custom-pagination ul li.ellipsis:hover {
	background-color: transparent;
	border: 0;
	cursor: default;
	line-height: 18px;
	font-size: 20px;
	color: #666
} */

.page .custom-pagination .page-to {
	width: 170px;
	height: 30px;
	line-height: 30px;
	float: left;
	color: #cfd7ff;
	margin-left: 0px;
}

.page .custom-pagination .page-to input {
	display: inline-block;
	width: 40px;
	height: 24px;
	line-height: 24px;
	background-color: #1d233b;
	border: 0;
    border: 1px solid #5e6ebf;
	vertical-align: middle;
	margin: 0 10px;
	padding: 0 5px;
	text-align: center;
	color: #cfd7ff;
}

.page .custom-pagination .page-to input:focus {
	outline: 0;
	background-color:  #0d1f38 ;
 	border: 1px solid #3a93ff;
}

.page .custom-pagination .page-to span {
	vertical-align: middle;
	display: inline-block;
	width: 46px;
	height: 30px;
	line-height: 30px;
	background-color: rgba(105,151,255,0.2);
	color: #cfd7ff;
	cursor: pointer;
	margin-left: 10px;
}

.page .custom-pagination .page-to span:hover {
	background-color: #4596ce;
	color: #fff
}