<div #confirm class="fill-height fill-width hw-content-mask">
  <div class="hw-form-wrap" style="height: 150px;">
    <div class="custom-form-wrap text-center" style="width: 400px;">
      <h2 class="center message">{{message}}</h2>
      <div class="text-center" style="margin-top: 40px;">
        <button class="hw-green-m-btn m-r-10" (click)="OnYesClicked()">
          <i class="howell-icon-Check"></i>
        </button>
        <button class="hw-gray-m-btn" (click)="OnCancelClicked()">
          <i class="howell-icon-Close"></i>
        </button>
      </div>
    </div>
  </div>
</div>