.hw-btn-group button.hw-cyan-btn,.hw-btn-group button.hw-blue-btn
  width: 110px
  background-size: 110px

.form-control.custom.file
    float: left
    width: calc(100% - 240px)
    margin-right: 10px

.form-control:disabled, .form-control[readonly] {
    opacity: 1;
}

.form-content
    overflow: auto 
    height: calc(100% - 86px)
 

.attr-wrap
  min-height: 260px
  background: #1d233b
  overflow: hidden
  max-height max-content
  
