.header-wrap
    margin 0 
    cursor pointer 

.body-wrap
    border: 1px solid #194076
    background: #0c1127
    padding: 10px 10px 0px 10px
    position: absolute
    z-index 30
    right 0

.header-wrap>.placeholder
    font-size: 24px;
    width 100%    

.text-tag-wrap 
    min-height: 32px 
    padding-top: 4px
    padding-left: 4px


.text-tag-wrap>a
  padding: 5px 10px 5px 10px
  height: 24px
  margin-right 5px
  // background-color:#454b70


.text-tag-wrap>a>a:hover{
  color: rgb(225,94,100)
}

.text-tag-wrap a  
  color #eaedff
  font-size: 14px 

.checkbox-pool-wrap
    padding: 10px 10px 0px 10px   
    background-color: #1d233b
    border: 1px solid #5e6ebf


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked 
  position: unset
  left: unset 
  width: 0

.btn.to-down
    border: 0
    padding: 2px
    height 30px
    background: transparent

.btn.to-down>i
    font-size:20px
    color: #69ADFF
.btn.focus, .btn:focus 
    box-shadow:unset

    