<div class="statistic">
  <div class="header">数据统计</div>
  <div class="content">
    <div class="row">
      <div class="statistic-item">
        <div class="background">
          <div class="inner">
            <h4 class="light-blue-text text-center">全部设备数量</h4>
            <div class="blue-parting-line"></div>
            <h2 class="text-center m-b-0 m-t-5 blue-text">
              {{ view.CameraCount }}
            </h2>
          </div>
        </div>
      </div>
      <div class="statistic-item">
        <div class="background">
          <div class="inner">
            <h4 class="light-blue-text text-center">在线设备数量</h4>
            <div class="blue-parting-line"></div>
            <h2 class="text-center m-b-0 m-t-5 green-text">
              {{ view.OnlineCount }}
            </h2>
          </div>
        </div>
      </div>
      <div class="statistic-item">
        <div class="background">
          <div class="inner">
            <h4 class="light-blue-text text-center">离线设备数量</h4>
            <div class="blue-parting-line"></div>
            <h2 class="text-center m-b-0 m-t-5 red-text">
              {{ view.OfflineCount }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="statistic-item">
        <div class="background">
          <div class="inner">
            <h4 class="light-blue-text text-center">垃圾投放点数量</h4>
            <div class="blue-parting-line"></div>
            <h2 class="text-center m-b-0 m-t-5 sky-blue-text2">
              {{ view.StationCount }}
            </h2>
          </div>
        </div>
      </div>
      <div class="statistic-item">
        <div class="background">
          <div class="inner">
            <h4 class="light-blue-text text-center">垃圾滞留投放点</h4>
            <div class="blue-parting-line"></div>
            <h2 class="text-center m-b-0 m-t-5 sky-blue-text2">
              {{ view.StationDropCount }}
            </h2>
          </div>
        </div>
      </div>
      <div class="statistic-item">
        <div class="background">
          <div class="inner">
            <h4 class="light-blue-text text-center">已满溢投放点</h4>
            <div class="blue-parting-line"></div>
            <h2 class="text-center m-b-0 m-t-5 sky-blue-text2">
              {{ view.StationFullCount }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
