// .tag-wrap i ,.td-icon i 
//   color #7586e0
//   margin-right: 4px

// .tag-wrap span 
//   color #cfd7ff

// .tag-num
//   color #cfd7ff
//   padding-left 10px
//   padding-right 10px

// .tag-add
//   color: #7586e0
    
// .tag-wrap.selected i  ,.td-icon.selected i ,.td-icon:hover i,.tag-add:hover
//   color #cfd7ff
 
// .tag-wrap.selected span,.tag-num.selected
//   color white

.card-wrap
  background: alpha(#2448a5,0.05) 
  border: 2px  alpha(#7586e0,0.15) solid
  height  100%
  padding: 20px
 
.hw-btn-group button 
  font-size: 18px


.hw-btn-group button.hw-cyan-btn
  width: 110px
  background-size: 110px
 
.filter-wrap span 
  color #cfd7ff
  font-size 18px
  position relative 



