<mat-toolbar class="example-header">
  <div class="app-header-wrapper">
    <div class="d3">
      <div fxLayout="row" class="fill-height">
        <div
          fxFlex="320px"
          fxFlexOffset="15px"
          class="fill-height"
          fxLayoutAlign=" center"
        >
          <img src="../../../assets/img/logo.png" alt="" />
        </div>
        <div fxFlex></div>
        <div
          fxFlex="50"
          fxFlexOffset="55px"
          class="fill-height"
          fxLayoutAlign="end center"
        >
          <ng-container *ngFor="let m of systemMode">
            <div class="hw-nav-wrapper" *ngIf="m.linkType != 0">
              <div class="hw-nav">
                <a
                  href="javascript:void(0)"
                  (click)="go(m.linkType)"
                  class="light-blue-text"
                >
                  <i class="{{ m.icon }}"></i>
                  {{ m.name }}
                </a>
              </div>
            </div>
          </ng-container>
          <app-time-tool class="m-l-20"></app-time-tool>
          <div class="m-r-10">
            <app-user-tool></app-user-tool>
          </div>
        </div>
      </div>
    </div>
    <div class="d2"></div>
    <div class="d1"></div>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    [class.minimize]="!maximize"
    mode="side"
    opened="true"
  >
    <div class="app-left-sidenav">
      <div class="d3 fine" style="max-height: 94%; overflow: auto">
        <div class="sidenav-viewer">
          <div class="m-l-15">
            <side-nav-menu
              #navMenu
              (menuEvent)="changeMenuLink($event)"
            ></side-nav-menu>
          </div>
        </div>
      </div>
      <div class="d2"></div>
      <div class="d1"></div>
    </div>

    <div class="side-nav-menu-on" [class.collapse]="maximize">
      <a
        href="javascript:void(0)"
        (click)="menuControl(true)"
        class="howell-icon-hamburger light-blue"
      ></a>
    </div>
    <div class="side-nav-menu-off" [class.collapse]="!maximize">
      <a
        href="javascript:void(0)"
        style="padding: 4px"
        (click)="menuControl(false)"
        class="mdi mdi-arrow-left-bold light-blue"
      ></a>
    </div>
  </mat-drawer>

  <div
    class="example-sidenav-content fill-height"
    [ngStyle]="{ 'margin-left': contentLeft + 'px' }"
  >
    <history-link-tool #historyLink></history-link-tool>

    <div class="fill-height p-l-20 wrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
