 <ng-container *ngFor="let item of menuTree">
  <nav [class.minimize]="!maximize">
    <button class="sidenav-main-btn" [class.highlighted]="highlightedBtn[0]==item.title" [class.normal]="highlightedBtn[0]!=item.title" [class.m-b-10]="!item.an"
      (click)="mainBtnClick(item)" [class.minimize]="!maximize">
      <div class="t-l-angle" [class.highlighted]="highlightedBtn[0]==item.title" [class.normal]="highlightedBtn[0]!=item.title"></div>
      <div class="t-r-angle" [class.highlighted]="highlightedBtn[0]==item.title" [class.normal]="highlightedBtn[0]!=item.title"></div>
      <div class="b-l-angle" [class.highlighted]="highlightedBtn[0]==item.title" [class.normal]="highlightedBtn[0]!=item.title"></div>
      <div class="b-r-angle" [class.highlighted]="highlightedBtn[0]==item.title" [class.normal]="highlightedBtn[0]!=item.title"></div>
      <i class="{{ item.icon}} pull-left"  style="margin-left: 14px;" [class.mm-r-20]="maximize"></i>
      <span class="pull-left">{{item.title}}</span>
    </button>
    <ul class="collapse" [class.in]="item.an">
      <li class="sidenav-menu-btn " (click)="currentMenus=n.text" *ngFor="let n of item.nodes" routerLinkActive="selected" routerLink="{{n.url}}">
        <a routerLink="{{n.url}}">{{n.text}}</a>
      </li>
    </ul>
  </nav>
</ng-container>