
<div class="panel" [ngStyle]="{display:visibility?'':'none'}">
    <div class="background">
        <div class="inner">
            <ng-container *ngFor="let item of dataSource">
                <div class="item" [title]="item.Name" (click)="itemClick(item)" (dblclick)="itemDoubleClick(item)">{{item.Name}}</div>
            </ng-container>
        </div>
    </div>
</div>
<div class="btn" (click)="ButtonClick()" title="区域菜单栏">
    <div class="inner">
        <i class="howell-icon-ul"></i>
    </div>
</div>