.example-header
    height 90px
    padding: 0
    background: unset
    color: unset
    

.app-header-wrapper
    position: relative
    width: 100%
    height: 100%

.app-header-wrapper .d1
    position: absolute
    width: 100%
    height: 100%
    background:alpha(#0c1127,0.9)

.app-header-wrapper .d2
   width: 100%
   position: absolute
   height: 100%
   z-index: 2
   background: linear-gradient(to  bottom, alpha(#d8f4ff,0) 85%,alpha(#d8f4ff,0.1)  100%)

.app-header-wrapper .d3
    width: 100%
    position: absolute
    height: 100%
    z-index: 3
    background: linear-gradient(to bottom, alpha(#7f94ff,0) 0%,alpha(#7f94ff,0.1)   100%)

.header-title
    font-size: 36px
    font-weight: bold
    line-height: 36px
    background-image: -webkit-linear-gradient(bottom,#7f94ff,white)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent


.event-history-view-close
    position: absolute
    right: 12px
    top: 10px
    padding: 0 10px
    z-index: 12

.logout
    text-align: center
    margin-left: 10px
    width: 46px
    border-radius:50%
    height: 46px
    background-color: #2d3559

 

.text-icon
    font-size: 21px
    top: 8px
    right: 3px
    position: relative

.user-out
    position: relative
    top: -15px
    font-size: 14px
    color: #c8fdff  


.user-out a
    background-color: #213146
    line-height: 10px
    color:#dedede
    border: 2px solid #3283E5


.user-out:hover a
    color: white
    background-color:rgb(117,134,224,.6)

.user-name
    height: 40px
    padding: 8px 0px 5px 12px
    max-width: 160px

.list-wrap
  border-radius:0
  background-color: rgb(21,27,51)
  border: 2px solid #7a8de6
