.example-header
    height 90px
    padding: 0
    background: unset
    color: unset
    

.app-header-wrapper
    position: relative
    width: 100%
    height: 100%

.app-header-wrapper .d1
    position: absolute
    width: 100%
    height: 100%
    background:alpha(#0c1127,0.9)

.app-header-wrapper .d2
   width: 100%
   position: absolute
   height: 100%
   z-index: 2
   background: linear-gradient(to  bottom, alpha(#d8f4ff,0) 85%,alpha(#d8f4ff,0.1)  100%)

.app-header-wrapper .d3
    width: 100%
    position: absolute
    height: 100%
    z-index: 3
    background: linear-gradient(to bottom, alpha(#7f94ff,0) 0%,alpha(#7f94ff,0.1)   100%)

.header-title
    font-size: 36px
    font-weight: bold
    line-height: 36px
    background-image: -webkit-linear-gradient(bottom,#7f94ff,white)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent


.event-history-view-close
    position: absolute
    right: 12px
    top: 10px
    padding: 0 10px
    z-index: 12


