.card-wrap
  background-color: alpha(#2448a5,0.05) 
  border: 2px  alpha(#7586e0,0.15) solid
  height  100%
  padding: 20px
 
 .mask-chart
  height: 80px
  position: absolute
  z-index: 48
  background-color: alpha(#000,0)
