<div class="alert-window text-no-select">
    <div class="alert-window-bg p-10">
        <div style="font-size: 20px;height: 30px;line-height: 20px;color: white">
            <div class="pull-left">摄像机名 {{cameraName}}</div>
            <div class="pull-right">
                <a href="javascript:void(0)" (click)="closeWindow()">
                    <i class="howell-icon-Close alert-window-close-btn"></i>
                </a>
            </div>
        </div>
        <div class="fill-width" style="height: calc(100% - 30px);border: 2px solid #3283E5;">
            <div style="background-color: black;width: 100%;height:calc(100%) ;">
                <div id="{{divId}}" class="video-control selected fill-height fill-width player">
                </div>
            </div>
        </div>
    </div>
</div> 