.text-icon
    font-size: 21px
    top: 2px
    position: relative

.user-out
    position: relative
    top: -15px
    font-size: 14px
    color: #c8fdff 
    z-index: 9998


.user-out a
    background-color: #213146
    line-height: 10px
    color:#dedede
    border: 2px solid #3283E5


.user-out:hover a
    color: white
