.logout
    width: 200px
    text-align: right 
    position: relative
    bottom: 10px


.text-icon
    font-size: 21px
    top: 8px
    right: 3px
    position: relative

.user-out
    position: relative
    top: -15px
    font-size: 14px
    color: #c8fdff  
    
.user-out a
    background-color: #213146
    line-height: 10px
    color:#dedede
    border: 2px solid #3283E5


.user-out:hover a
    color: white
    background-color:rgb(117,134,224,.6)

.user-name
    height: 40px
    padding: 8px 0px 5px 12px
    max-width: 160px

.list-wrap
    border-radius:0
    background-color: rgb(21,27,51)
    border: 2px solid #7a8de6
    right: 34px
    top: 20px
