<div class="custom-form-wrap garbage-station-form">
  <h2 class="m-b-20">
    {{ title }}
  </h2>
  <form
    class="form-content m-b-20"
    [formGroup]="garbageStationFormGroup"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="input-bar">
        <div class="form-name">
          <label class="custom control-label tran-input-label">名称</label>
          <span class="text-danger p-t-10">*</span>
          <input
            class="form-control custom custom-input"
            #name_
            formControlName="Name"
          />
        </div>
        <div class="form-type">
          <label class="custom control-label tran-input-label">类型</label>
          <select
            #stationType_
            class="form-control custom custom-select"
            formControlName="StationType"
          >
            <option [value]="p.Type" *ngFor="let p of stationType">
              {{ p.Name }}
            </option>
          </select>
        </div>
      </div>
      <div
        class="search-bar"
        fxLayout="row"
        fxLayoutAlign="space-between stretch"
        [style.color]="'white'"
      >
        <input
          #searchInput
          type="text"
          formControlName="SearchText"
          placeholder="输入关键字"
          class="custom form-control m-r-10"
        />
        <button
          type="button"
          class="hw-blue-btn m-r-10"
          (click)="searchHandler()"
          style="flex-shrink: 0"
        >
          <i class="mdi mdi-magnify"></i>
          查询
        </button>
      </div>
    </div>

    <div class="form-group custom-table-container">
      <!-- 68 116 -->
      <hw-custom-table
        #table
        [model]="dataSource"
        (selectedEvent)="selectTableItem($event)"
        (changePageEvent)="changePage($event)"
      ></hw-custom-table>
    </div>
  </form>

  <div class="text-center">
    <button class="hw-green-m-btn m-r-10" (click)="onSubmit()">
      <i class="howell-icon-Check"></i>
    </button>
    <button class="hw-gray-m-btn" (click)="onCancel()">
      <i class="howell-icon-Close"></i>
    </button>
  </div>
</div>
