.address-tabs.tab-content
    overflow auto
    height 230px


.nav-tabs .nav-link 
    border-top-left-radius: unset
    border-top-right-radius: unset

.nav-link.text
    width 92px
    height 34px
    padding 5px 0px
    text-align center
    position relative
    background-color alpha(#3283e5,.2)

.nav-link.text:hover 
    background-color alpha(#3283e5,.4)

.nav-link.text:hover>a{
    display: block;
}

   
.nav-link.text>a 
    position absolute
    font-size small
    bottom 6px
    right 8px
    color white
    display none

.nav-link.text>a:hover 
    color #f60431
 

.nav-plus
    color: #7586e0
    margin-left: 14px
    line-height: 34px
    
.nav-plus:hover 
    color white
