.card-wrap
    cursor pointer
    background: alpha(#7586E0,0.15);


.card-wrap:hover 
    background:  linear-gradient(to right,  alpha(#7586E0,0.5), alpha(#7586E0,0.5))


.card-wrap.selected
    background: linear-gradient(to right, #7586E0, #3286E5)

.card-wrap.selected a 
    color: #a6b5ff