.filter-wrap span 
  color #cfd7ff
  font-size 18px
  position relative 

.more-btn
    float left
    width 70px
    border: 1px solid #cfd7ff
    height: 33px;
    text-align:  center
    background-color: transparent
    color: #cfd7ff
    padding-top: 2px

.chart-hide
  opacity 0
  z-index -1