.btn.to-right
    border: 0 
    padding: 0   
    position relative
    background: transparent

.btn.to-right>i
    font-size:20px
    color: #cfd7ff
.btn.focus, .btn:focus 
    box-shadow:unset

.mat-tree-node
    min-height: 35px 
    cursor pointer
    

.mat-tree 
    background: transparent

.parent-node  
    padding-left: 10px
    width:  100% 
    cursor pointer

.child-node
    padding-top: 7px
    padding-bottom: 12px
    cursor pointer

.mat-tree-node:hover
     background:#2e3459

.mat-tree-node.selected
    background: #2d76ce 


.visibility-hidden
    visibility:hidden

.form-control.custom.touchspin
    min-height: 22px;
    height: 22px;
    font-size: 14px;


.ckbox{
        width: 14px;
    height: 14px;
    border: 1px solid;
    float: left; 
    margin-left: 10px;
    margin-right: 5px;
    line-height: 14px;
       border: 1px solid #7586e0;
    color: #cfd7ff;
    
    }

.default-label-width
    max-width : 79%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  

.default-label
   
    position: relative
    top: 4px
    cursor:pointer
    font-size: 18px
    line-height: 1.2

.right-btn-wrapper
    width: 20%
    float: right
    position: relative
    top: 2px

.right-btn-wrapper a
    color: rgb(207, 215, 255)

.right-btn-wrapper a:hover
  text-shadow: 0 0 0 #fff
