.btn.to-right
    border: 0
    margin-top 0
    padding: 0 
    background: transparent

.btn.to-right>i
    font-size:20px
    color: #cfd7ff
.btn.focus, .btn:focus 
    box-shadow:unset

.mat-tree-node
    min-height: 30px 
    cursor pointer
    

.mat-tree 
    background: transparent

.parent-node
    padding-top: 7px
    padding-bottom: 8px
    padding-left: 10px
    width:  100% 
    cursor pointer

.child-node
    padding-top: 7px
    padding-bottom: 12px
    cursor pointer

.mat-tree-node:hover
     background:#2e3459

.mat-tree-node.selected
    background: #2d76ce 


.visibility-hidden
    visibility:hidden

.form-control.custom.touchspin
    min-height: 22px;
    height: 22px;
    font-size: 14px;