.inner-card {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}


.inner-card .title {
  display: flex;
  justify-content: space-between
}

.inner-card .title h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inner-card .title .name {
  font-size: 18px;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.inner-card .content {
  display: flex;
  height: calc(100% - 20px);
  width: 100%;
}

.inner-card .content .task.echarts {
  height: 100%;
}

.inner-card .content .task.echarts>div,
.inner-card .content .task.echarts>div>canvas {
  height: 100% !important;
}

.inner-card .content .details {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  margin-left: 25px;
}


.inner-card .content .details .title {
  color: #99aaff;

  font-size: 16px;
  margin-bottom: 0;
}

.inner-card .content .details .value {
  color: white;
  font-size: 24px;

  cursor: pointer;
}

.inner-card .content .details .value.all {
  color: #3a93ff;
}

.inner-card .content .details .value.handle {
  color: #ef6464;
}

.inner-card .content .details .value.timeout {
  color: #ffba00;
}



.inner-card .content .details .value:hover {
  color: #6997ff;
  text-decoration-line: underline;

}
