<div *ngIf="model && data" class="fill-height fill-width inner-card">
  <div class="title">
    <h2>今日任务处置</h2>
    <div class="light-blue-text name">{{ data.Name }}</div>
  </div>

  <div class="content row">
    <div #echarts class="task echarts col-md-7">
      <!-- <div echarts [options]="chartOption" class="demo-chart"></div> -->
    </div>
    <div class="details">
      <div>
        <h4 class="title">全部任务</h4>
        <div
          class="value all"
          title="查看{{ data.Name }}垃圾滞留处置"
          (click)="itemClick()"
        >
          {{ data.TotalCount }}
        </div>
      </div>
      <div>
        <h4 class="title">未完成任务</h4>
        <div
          class="value handle"
          title="查看{{ data.Name }}垃圾滞留未处置"
          (click)="itemClick({ handle: false })"
        >
          {{ data.UncompletedCount }}
        </div>
      </div>
      <div>
        <h4 class="title">超时处置</h4>
        <div
          class="value timeout"
          title="查看{{ data.Name }}垃圾滞留超时处置"
          (click)="itemClick({ timeout: true })"
        >
          {{ data.GarbageRetentionCount }}
        </div>
      </div>
    </div>
  </div>
  <!-- <ng-container *ngFor="let data of model.datas">
    <div class="task-item" (click)="itemClick(data)">
      {{ data.Name }}
    </div>
  </ng-container> -->
</div>
