<div class="custom-form-wrap hw-form-wrap p-20" style="width: 480px;height: 230px;">
  <h2>{{dialog.title}}</h2>
  <div fxLayout="row">
    <div fxFlex="100" fxLayoutAlign=" center" class="content-wrap">
      {{dialog.content}}
    </div>
  </div>
  <div class="text-center" style="margin-top: 28px;">
    <button class="hw-green-m-btn m-r-10" (click)="okBtnClick()">
      <i class="howell-icon-Check"></i>
    </button>
    <button class="hw-gray-m-btn" (click)="cancelBtnClick()">
      <i class="howell-icon-Close"></i>
    </button>
  </div>
</div>