.header-wrap
    margin 0
    border: 1px solid rgb(94, 110, 191)
    cursor pointer
    background-color: #1d233b

.body-wrap
    border: 1px solid rgb(94, 110, 191)
    background: #0c1127
    padding: 10px 10px 0px 10px
    position: absolute
    z-index 30

.header-wrap>.placeholder
    color: #cfd7ff;
    opacity: .5;
    font-size: 18px;
    padding: 2.6px 10px;

.text-tag-wrap 
    min-height: 34px 
    padding-top: 4px
    padding-left: 4px


.text-tag-wrap>a
  padding: 5px 10px 5px 10px
  height: 24px
  margin-right 5px
  background:#1e7925


.text-tag-wrap>a>a:hover{
  color: rgb(225,94,100)
}

.text-tag-wrap a  
  color #eaedff
  font-size: 14px 

.checkbox-pool-wrap
    padding: 10px 10px 0px 10px   
    background-color: #1d233b
    border: 1px solid #5e6ebf


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked 
  position: unset
  left: unset 
  width: 0

.btn.to-down
    border: 0
    padding: 2px
    height 30px
    background: transparent

.btn.to-down>i
    font-size:20px
    color: #69ADFF
.btn.focus, .btn:focus 
    box-shadow:unset

    