
.hw-btn-group button 
  font-size: 18px
  
.hw-btn-group button.hw-cyan-btn
  width: 110px
  background-size: 110px

  
.card-wrap
  background: alpha(#2448a5,0.05) 
  border: 2px  alpha(#7586e0,0.15) solid
  height  100%
  padding: 20px
 
  
 
.filter-wrap span 
  color #cfd7ff
  font-size 18px
  position relative 

 