
<ng-container *ngIf="service.currentTime">
  <div class="light-blue" style="line-height: 18px;">
    <div class="pull-left">
      {{ service.currentTime.YYYY}}
      <span class="text-white">年</span>
      {{ service.currentTime.MM}}
      <span class="text-white">月</span>
      {{ service.currentTime.dd}}
      <span class="text-white">日</span>
    </div>
    <div class="pull-left m-l-20 m-r-20">
      {{ service.currentTime.week}}
    </div>
    <div class="pull-left">
      {{ service.currentTime.HH}}
      <span  class="text-white colon-font">:</span>
      {{ service.currentTime.mm}}
      <span  class="text-white colon-font">:</span>
      {{ service.currentTime.ss}}
    </div>
  </div>
  
</ng-container>