<div class="m-b-20">
  <hw-input-search
    [placeholder]="'名称'"
    (searchChange)="searchHandler($event)"
  ></hw-input-search>
</div>
<div
  class="fine"
  [ngStyle]="{ height: treeHeight }"
  style="overflow: scroll"
  (click)="onPanelClicked()"
>
  <ng-container *ngIf="dataService.divisions && dataService.garbageStations">
    <hw-custom-tree
      #garbageStationTree
      [treeData]="stationTreeService.treeNode"
      [mode]="treeListMode"
      [selectedItemFn]="selectedItemClick"
      (rightBtnFn)="rightButtonClick($event)"
      (itemExpandClickedEvent)="itemExpandClicked($event)"
      [holdStatus]="holdStatus"
      [cancleWhenClose]="cancleWhenClose"
      (itemChange)="itemChangeHandler($event)"
    >
    </hw-custom-tree>
  </ng-container>
</div>
