<div style="height: calc(100% - 64px);">
  <ng-container *ngIf="tableService.eventTable.galleryTarget">
    <div class="fill-height fill-width hw-content-mask">
      <hw-gallery-target [closeViewFn]="galleryTargetFn" [model]="tableService.eventTable.galleryTarget"></hw-gallery-target>
    </div>
  </ng-container>

  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="second-title-bg text">
      乱扔垃圾事件
    </div>
    <div [formGroup]="tableService.search.searchform" fxLayoutAlign="center center">
      <input type="text" style="width: 300px;" [readonly]="tableService.search.other" formControlName="SearchText"
        placeholder="输入关键字" class="custom form-control m-r-10">
      <button type="button" class="hw-blue-btn m-r-10 " (click)="search()">
        <i class="mdi mdi-magnify"></i>
        查询
      </button>
      <button class="hw-cyan-m-btn" (click)="tableService.search.other=!tableService.search.other">
        <i class="mdi mdi-filter-outline"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="tableService.search.other">
    <div fxLayout="row" [formGroup]="tableService.search.searchform" fxLayoutGap="20px"
      class="filter-wrap m-b-10 collapse">
      <div fxFlex="25">
        <span>开始时间</span>
        <input type="text" DateTimePicker [defaultVal]="tableService.search.beginDate" [changeDate]="startDate"
          style="width: calc(100% - 82px);" class="custom form-control m-l-10" formControlName="BeginTime">
      </div>
      <div fxFlex="25">
        <span>结束时间</span>
        <input type="text" DateTimePicker [defaultVal]="tableService.search.endDate" [changeDate]="endDate"
          style="width: calc(100% - 82px);" class="custom form-control m-l-10" formControlName="EndTime">
      </div> 
      <div fxFlex="25">
        <span>区划</span>
        <select class="form-control custom custom-select m-l-10" style="width: calc(100% - 62px);"
          formControlName="DivisionId">
          <option value="">全部</option>
          <ng-container *ngFor="let c of tableService.divisions">
            <option value="{{c.Id}}">{{c.Name}}</option>
          </ng-container>
        </select>
      </div>
      <div fxFlex="25">
        <span>垃圾房</span>
        <select class="form-control custom custom-select m-l-10" style="width: calc(100% - 64px);"
          formControlName="StationId">
          <option value="">全部</option>
          <ng-container *ngFor="let c of tableService.garbageStations">
            <option value="{{c.Id}}">{{c.Name}}</option>
          </ng-container>
        </select>
      </div>
    </div>

  </ng-container>
  <div [ngStyle]="{'height': tableService.search.other ? 'calc(100% - 66px)':'calc(100% - 21px)'}">
    <hw-custom-table #table [model]="tableService.eventTable.dataSource"></hw-custom-table>
  </div>
</div>
