

/* -----------------------------查志磊--------------------- */

.map {  
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
  }
  
  
  .map-bar {
    position: relative;
    bottom: 82px;
    margin: 10px;
  }
  
  
  .map-bar.status {    
    line-height: 16px;
    left: -15px;
    float: left;
  }
  
  .map-bar.status li {
    height: 16px;
    font-size: 16px;
    margin-top: 5px;
    float: right;
    width: 100%;
  }
  
  .map-bar.status .normal {
    color: #2bcf38;
  }
  
  .map-bar.status .warm {
    color: #febd00;
  }
  
  .map-bar.status .error {
    color: #eb2d2c;
  }
  
  .map-bar.video-list {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    right: 0;
    bottom: 130px;
    float: right;
    padding: 10px 0;

    max-width: 640px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 110px;

  }  
  .map-bar.video-list ul {
    list-style-type: none;
    clear: both;
    display: inline-flex;
    padding-inline-start: 0;
    padding:0 10px ;
}
  .map-bar.video-list .video {
    width: 120px;
    height: 90px;
    float: right;
    margin-left: 5px;
    background-color: black;
    border: transparent 2px solid;
    cursor: pointer;
  }
  .map-bar.video-list .video:first-child{
    margin-left: 0px;
  }
  .map-bar.video-list .video.error{  
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);      
      filter: grayscale(100%);    
      filter: gray;  
  }
  .map-bar.video-list .video:hover {
    border: #2d76ce 2px solid;
  }

  .map-bar.video-list .video .howell-icon-no_signal{
    position: absolute;
    bottom: -3px;
  }


  .map-bar.video-list .video img {
    width:100%;
    height: 100%;
  }
  

  .map-bar.garbage-list{
    position: absolute;
    top:100px;
    right: 0;
  }













  
.amap-video.playing{
  background-color: black;
  text-align: center; /*让div内部文字居中*/			
	margin: auto;
	position: absolute;
	top: 46px;
	left: 0;
	right: 0;
	bottom: 0;
  width: 500px;
  height: 310px;
}


  /* -----------------------------查志磊--------------------- */