.table td.iconTd
  padding-top: 10px
  padding-bottom: 10px

 .table-body-container.overflow-auto
    overflow: auto scroll;
    height: calc(100% - 100px);

.table-foot-wrap
    height: 42px
    padding: 10px 20px 0px 20px
    border-top: 1px rgb(117,134,224,0.5) solid

.table-foot-wrap .left-text,.table-foot-wrap .right-text a 
    font-size 14px
    color: #cfd7ff 

.tag-num
  color #cfd7ff 
  padding-right 10px


 .tag-wrap.selected i  ,.td-icon.selected i ,.tag-add.selected,.td-icon.selected
  color #cfd7ff
 
.tag-wrap.selected span,.tag-num.selected,.tag-add:hover,.td-icon:hover i
  color white


.tag-wrap i ,.td-icon i 
    color #7586e0
    margin-right: 4px

.tag-wrap label  
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  max-width  72px
  font-size: 18px
  color: #cfd7ff
  top: 1px
  margin: 0
  position: relative
  line-height: 18px

 .tag-add
    color: #7586e0

.gray-text2.selected
  color: #c4d0db
 
.title-name>i
  display none

.title-name:hover >i 
  display unset 
  font-size: xx-small
  position: relative
  bottom: 4px

.hw-ul li  
  float left
  margin-right 10px