<div class="waste-container">
  <div class="waste-header">
    <app-committees-toolbar
      [Committees]="Committees"
      [Notify]="business.toolbar.notify"
      (OnChangePasswordClick)="business.toolbar.onChangePasswordClick($event)"
      (OnChangeMobileClick)="business.toolbar.onChangeMobileClick($event)"
    ></app-committees-toolbar>
  </div>
  <div class="waste-body">
    <div class="waste-body__item waste-body__item--none">
      <div class="waste-body__wrapper">
        <app-committees-navication
          [Committees]="Committees"
          [Stations]="GarbageStations"
          [StationSelected]="GarbageStationSelected"
          (OnStationClicked)="OnStationClicked($event)"
          (OnCommitteesInfoClicked)="OnCommitteesInfoClicked($event)"
        ></app-committees-navication>
      </div>
    </div>
    <div class="waste-body__item waste-body__item--video">
      <div
        class="waste-body__wrapper"
        [ngStyle]="business.gallery.rollPage.styles"
      >
        <hw-gallery-roll-page
          [model]="business.gallery.rollPage.Model"
          [config]="business.gallery.rollPage.Config"
          [PlaybackTrigger]="business.gallery.rollPage.playbackTrigger"
          (OnNextGroupClicked)="
            business.gallery.rollPage.onNextGroupClicked($event)
          "
          (OnPreviousGroupClicked)="
            business.gallery.rollPage.onPreviousGroupClicked($event)
          "
          (OnGetPictureClicked)="
            business.gallery.rollPage.onGetPictureClicked($event)
          "
          (OnSizeChangeClicked)="
            business.gallery.rollPage.onSizeChangeClicked($event)
          "
          (OnPlaybackClicked)="
            business.gallery.rollPage.onPlaybackClicked($event)
          "
        ></hw-gallery-roll-page>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-record-rank
          [Committees]="Committees"
          [Types]="business.rank.event.Types"
          [Type]="business.rank.event.Type"
          [Converter]="business.rank.event.Converter"
          (OnItemClicked)="business.rank.event.OnGarbageStationSelected($event)"
        ></app-record-rank>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-station-information
          [Station]="GarbageStationSelected"
        ></app-station-information>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-record-rank
          [Committees]="Committees"
          [Type]="business.rank.drop.Type"
          [Converter]="business.rank.drop.Converter"
          (OnItemClicked)="business.rank.drop.OnGarbageStationSelected($event)"
        ></app-record-rank>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-committees-statistic
          [Committees]="Committees"
          (OnAllDeviceCountClicked)="
            business.statistic.OnAllDeviceCountClicked($event)
          "
          (OnOnlineDeviceCountClicked)="
            business.statistic.OnOnlineDeviceCountClicked($event)
          "
          (OnOfflineDeviceCountClicked)="
            business.statistic.OnOfflineDeviceCountClicked($event)
          "
          (OnGarbageStationCountClicked)="
            business.statistic.OnGarbageStationCountClicked($event)
          "
          (OnGarbageDropEventCountClicked)="
            business.statistic.OnGarbageDropEventCountClicked($event)
          "
          (OnGarbageFullEventCountClicked)="
            business.statistic.OnGarbageFullEventCountClicked($event)
          "
          (OnIllegalDropEventCountClicked)="
            business.statistic.OnIllegalDropEventCountClicked($event)
          "
          (OnMixedIntoEventCountClicked)="
            business.statistic.OnMixedIntoEventCountClicked($event)
          "
        ></app-committees-statistic>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-task-table
          [Committees]="Committees"
          (OnItemClicked)="business.taskTable.onItemClicked($event)"
        ></app-task-table>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-histroy-table
          [Committees]="Committees"
          [Type]="business.historyTable.Type"
          (OnPictureClicked)="business.historyTable.OnPictureClicked($event)"
          (OnVideoClicked)="business.historyTable.OnVideoClicked($event)"
        ></app-histroy-table>
      </div>
    </div>
  </div>
</div>

<app-window [Model]="window.device">
  <ng-container *ngIf="window.device.show">
    <hw-garbage-station-cameras
      [divisionsId]="GlobalStoreService.divisionId"
      [cameraStateTable]="window.device.onlineStatus"
    ></hw-garbage-station-cameras>
  </ng-container>
</app-window>
<app-window [Model]="window.record">
  <ng-container *ngIf="window.record.show">
    <hw-illegal-drop-event-summary
      [businessEventType]="window.record.eventType"
      [GarbageStation]="window.garbageStation"
    ></hw-illegal-drop-event-summary>
  </ng-container>
</app-window>

<app-window [Model]="window.station">
  <ng-container *ngIf="window.station.show">
    <hw-garbage-station-summary
      [divisionsId]="GlobalStoreService.divisionId"
      [viewsShow]="window.station.index"
      [GarbageDropEventHistoryContentType]="window.station.contentType"
      [GarbageDropTaskDivisionId]="GlobalStoreService.divisionId"
      [GarbageDropEventHistoryHandle]="window.station.garbageDropHandle"
      [GarbageDropEventHistoryTimeout]="window.station.garbageDropTimeout"
      [garbageStationTableOperation]="false"
    ></hw-garbage-station-summary>
  </ng-container>
</app-window>
<app-window [Model]="window.fullStation">
  <ng-container *ngIf="window.fullStation.show">
    <hw-full-garbage-station-summary
      [divisionsId]="GlobalStoreService.divisionId"
    >
    </hw-full-garbage-station-summary>
  </ng-container>
</app-window>
<app-window [Model]="window.stranded">
  <ng-container *ngIf="window.stranded.show">
    <hw-station-stranded
      [divisionId]="GlobalStoreService.divisionId"
      [GarbageStation]="window.garbageStation"
    ></hw-station-stranded>
  </ng-container>
</app-window>
<app-window [Model]="window.summary">
  <ng-container *ngIf="window.summary.show">
    <app-statistic-summary
      [Committees]="Committees"
      [Stations]="GarbageStations"
    ></app-statistic-summary>
  </ng-container>
</app-window>

<app-window [Model]="window.picture" [Background]="false" [CloseButton]="false">
  <hw-gallery-target
    *ngIf="window.picture.show"
    [closeViewFn]="window.picture.close"
    [model]="window.picture.target"
    [videoFn]="window.picture.playVideo"
  >
  </hw-gallery-target>
  <div
    class="fill-height fill-width hw-content-mask collapse"
    [class.in]="window.picture.player"
  ></div>
</app-window>
<app-window [Model]="window.video" [Background]="false" [CloseButton]="false">
  <ng-container *ngIf="window.video.player">
    <hw-video-simple-card
      (closeFn)="window.video.close($event)"
      [url]="window.video.player.url"
      [WebUrl]="window.video.player.WebUrl"
      [autostart]="true"
      [cameraName]="window.video.player.name"
    ></hw-video-simple-card>
  </ng-container>
</app-window>

<app-window
  [Model]="window.password"
  [Style]="window.password.styles"
  [CloseButton]="window.password.closeable"
>
  <ng-container *ngIf="window.password.show">
    <app-password-change
      (OnChanged)="window.password.onChanged($event)"
      (OnCancel)="window.password.onCancel($event)"
    >
    </app-password-change>
  </ng-container>
</app-window>

<app-window [Model]="window.mobile" [Style]="window.mobile.styles">
  <ng-container *ngIf="window.mobile.show">
    <app-mobile-change
      (OnBinded)="window.mobile.onBinded($event)"
      (OnCancel)="window.mobile.onCancel($event)"
      [Step]="window.mobile.step"
    >
    </app-mobile-change>
  </ng-container>
</app-window>

<app-window [Model]="window.playback" [Style]="window.playback.styles">
  <ng-container *ngIf="window.playback.show">
    <app-playback-config
      (OnOKClicked)="window.playback.ok($event)"
      (OnCancelClicked)="window.playback.cancel($event)"
    >
    </app-playback-config>
  </ng-container>
</app-window>
