<div class="waste-container">
  <div class="waste-header">
    <app-committees-toolbar
      [Committees]="Committees"
      [Notify]="bussiness.toolbar.notify"
    ></app-committees-toolbar>
  </div>
  <div class="waste-body">
    <div class="waste-body__item waste-body__item--none">
      <div class="waste-body__wrapper">
        <app-committees-navication
          [Committees]="Committees"
          [Stations]="GarbageStations"
          (OnStationClicked)="OnStationClicked($event)"
          (OnCommitteesInfoClicked)="OnCommitteesInfoClicked($event)"
          OnCommitteesClicked=""
        ></app-committees-navication>
      </div>
    </div>
    <div class="waste-body__item waste-body__item--video">
      <div class="waste-body__wrapper">
        <hw-gallery-roll-page
          [model]="bussiness.gallery.rollPage.Model"
          [config]="bussiness.gallery.rollPage.Config"
        ></hw-gallery-roll-page>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-record-rank
          [Committees]="Committees"
          [Types]="bussiness.rank.event.Types"
          [Type]="bussiness.rank.event.Type"
          [Converter]="bussiness.rank.event.Converter"
          (OnItemClicked)="
            bussiness.rank.event.OnGarbageStationSelected($event)
          "
        ></app-record-rank>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-station-information
          [Station]="GarbageStationSelected"
        ></app-station-information>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-record-rank
          [Committees]="Committees"
          [Type]="bussiness.rank.drop.Type"
          [Converter]="bussiness.rank.drop.Converter"
          (OnItemClicked)="bussiness.rank.drop.OnGarbageStationSelected($event)"
        ></app-record-rank>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-committees-statistic
          [Committees]="Committees"
          (OnAllDeviceCountClicked)="
            bussiness.statistic.OnAllDeviceCountClicked($event)
          "
          (OnOnlineDeviceCountClicked)="
            bussiness.statistic.OnOnlineDeviceCountClicked($event)
          "
          (OnOfflineDeviceCountClicked)="
            bussiness.statistic.OnOfflineDeviceCountClicked($event)
          "
          (OnGarbageStationCountClicked)="
            bussiness.statistic.OnGarbageStationCountClicked($event)
          "
          (OnGarbageDropEventCountClicked)="
            bussiness.statistic.OnGarbageDropEventCountClicked($event)
          "
          (OnGarbageFullEventCountClicked)="
            bussiness.statistic.OnGarbageFullEventCountClicked($event)
          "
          (OnIllegalDropEventCountClicked)="
            bussiness.statistic.OnIllegalDropEventCountClicked($event)
          "
          (OnMixedIntoEventCountClicked)="
            bussiness.statistic.OnMixedIntoEventCountClicked($event)
          "
        ></app-committees-statistic>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-task-table [Committees]="Committees"></app-task-table>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-histroy-table
          [Committees]="Committees"
          [Type]="bussiness.historyTable.Type"
          (OnPictureClicked)="bussiness.historyTable.OnPictureClicked($event)"
          (OnVideoClicked)="bussiness.historyTable.OnVideoClicked($event)"
        ></app-histroy-table>
      </div>
    </div>
  </div>
</div>

<app-window [Model]="window.device">
  <ng-container *ngIf="window.device.show">
    <hw-garbage-station-cameras
      [divisionsId]="GlobalStoreService.divisionId"
      [cameraStateTable]="window.device.onlineStatus"
    ></hw-garbage-station-cameras>
  </ng-container>
</app-window>
<app-window [Model]="window.record">
  <ng-container *ngIf="window.record.show">
    <hw-illegal-drop-event-summary
      [businessEventType]="window.record.eventType"
      [GarbageStation]="window.garbageStation"
    ></hw-illegal-drop-event-summary>
  </ng-container>
</app-window>

<app-window [Model]="window.station">
  <ng-container *ngIf="window.station.show">
    <hw-garbage-station-summary
      [divisionsId]="GlobalStoreService.divisionId"
      [PageIndex]="window.station.index"
      [GarbageDropEventHistoryContentType]="window.station.contentType"
      [GarbageDropTaskDivisionId]="GlobalStoreService.divisionId"
      [GarbageDropEventHistoryHandle]="window.station.garbageDropHandle"
      [GarbageDropEventHistoryTimeout]="window.station.garbageDropTimeout"
      [garbageStationTableOperation]="false"
    ></hw-garbage-station-summary>
  </ng-container>
</app-window>
<app-window [Model]="window.fullStation">
  <ng-container *ngIf="window.fullStation.show">
    <hw-full-garbage-station-summary
      [divisionsId]="GlobalStoreService.divisionId"
    >
    </hw-full-garbage-station-summary>
  </ng-container>
</app-window>
<app-window [Model]="window.stranded">
  <ng-container *ngIf="window.stranded.show">
    <hw-station-stranded
      [divisionId]="GlobalStoreService.divisionId"
      [GarbageStation]="window.garbageStation"
    ></hw-station-stranded>
  </ng-container>
</app-window>
<app-window [Model]="window.summary">
  <ng-container *ngIf="window.summary.show">
    <app-statistic-summary
      [Committees]="Committees"
      [Stations]="GarbageStations"
    ></app-statistic-summary>
  </ng-container>
</app-window>

<app-window [Model]="window.picture" [Background]="false" [CloseButton]="false">
  <hw-gallery-target
    *ngIf="window.picture.show"
    [closeViewFn]="window.picture.close"
    [model]="window.picture.target"
    [videoFn]="window.picture.playVideo"
  >
  </hw-gallery-target>
  <div
    class="fill-height fill-width hw-content-mask collapse"
    [class.in]="window.picture.player"
  ></div>
</app-window>
<app-window [Model]="window.video" [Background]="false" [CloseButton]="false">
  <ng-container *ngIf="window.video.player">
    <hw-video-simple-card
      [closeFn]="window.video.close"
      [url]="window.video.player.url"
      [WebUrl]="window.video.player.WebUrl"
      [autostart]="true"
      [cameraName]="window.video.player.name"
    ></hw-video-simple-card>
  </ng-container>
</app-window>

<!-- 
    [videoFileFn]="tableService.eventTable.videoFileFn"
    [imgEventFn]="tableService.galleryTargetView.galleryTargetPageFn" -->
