<div class="waste-container">
  <div class="waste-header">
    <app-toolbar [Committees]="Committees"></app-toolbar>
  </div>
  <div class="waste-body">
    <div class="waste-body__item waste-body__item--none">
      <div class="waste-body__wrapper">
        <app-committees-navication
          [Committees]="Committees"
          [Stations]="GarbageStations"
          (OnStationClicked)="OnStationClicked($event)"
          (OnCommitteesInfoClicked)="OnCommitteesInfoClicked($event)"
          OnCommitteesClicked=""
        ></app-committees-navication>
      </div>
    </div>
    <div class="waste-body__item waste-body__item--video">
      <div class="waste-body__wrapper">
        <hw-gallery-roll-page
          [model]="GalleryRollPageBusiness.Model"
          [config]="GalleryRollPageBusiness.Config"
        ></hw-gallery-roll-page>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-record-rank
          [Committees]="Committees"
          [Types]="RecordRankEventBussiness.Types"
          [Type]="RecordRankEventBussiness.Type"
          [Converter]="RecordRankEventBussiness.Converter"
          (OnItemClicked)="
            RecordRankEventBussiness.OnGarbageStationSelected($event)
          "
        ></app-record-rank>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-station-information
          [Station]="GarbageStationSelected"
        ></app-station-information>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-record-rank
          [Committees]="Committees"
          [Types]="RecordRankDropBussiness.Types"
          [Type]="RecordRankDropBussiness.Type"
          [Converter]="RecordRankDropBussiness.Converter"
          (OnItemClicked)="
            RecordRankDropBussiness.OnGarbageStationSelected($event)
          "
        ></app-record-rank>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-committees-statistic
          [Committees]="Committees"
          (OnAllDeviceCountClicked)="
            CommitteesStatisticBussiness.OnAllDeviceCountClicked($event)
          "
          (OnOnlineDeviceCountClicked)="
            CommitteesStatisticBussiness.OnOnlineDeviceCountClicked($event)
          "
          (OnOfflineDeviceCountClicked)="
            CommitteesStatisticBussiness.OnOfflineDeviceCountClicked($event)
          "
          (OnGarbageStationCountClicked)="
            CommitteesStatisticBussiness.OnGarbageStationCountClicked($event)
          "
          (OnGarbageDropEventCountClicked)="
            CommitteesStatisticBussiness.OnGarbageDropEventCountClicked($event)
          "
          (OnGarbageFullEventCountClicked)="
            CommitteesStatisticBussiness.OnGarbageFullEventCountClicked($event)
          "
          (OnIllegalDropEventCountClicked)="
            CommitteesStatisticBussiness.OnIllegalDropEventCountClicked($event)
          "
          (OnMixedIntoEventCountClicked)="
            CommitteesStatisticBussiness.OnMixedIntoEventCountClicked($event)
          "
        ></app-committees-statistic>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-task-table [Committees]="Committees"></app-task-table>
      </div>
    </div>
    <div class="waste-body__item">
      <div class="waste-body__wrapper padding">
        <app-histroy-table
          [Committees]="Committees"
          [Type]="CommitteesHistroyTableBussiness.Type"
        ></app-histroy-table>
      </div>
    </div>
  </div>
</div>
<!-- 
<hw-gallery-target
  [closeViewFn]="galleryTargetFn"
  [model]="tableService.galleryTargetView.galleryTarget"
  [videoFn]="tableService.eventTable.playVideoFn"
  [videoFileFn]="tableService.eventTable.videoFileFn"
  [imgEventFn]="tableService.galleryTargetView.galleryTargetPageFn"
>
</hw-gallery-target> -->
<app-window [Model]="Window.device">
  <ng-container>
    <hw-garbage-station-cameras
      [divisionsId]="GlobalStoreService.divisionId"
      [cameraStateTable]="Window.device.onlineStatus"
    ></hw-garbage-station-cameras>
  </ng-container>
</app-window>
<app-window [Model]="Window.record">
  <ng-container>
    <hw-illegal-drop-event-summary
      [businessEventType]="Window.record.eventType"
      [GarbageStation]="Window.garbageStation"
    ></hw-illegal-drop-event-summary>
  </ng-container>
</app-window>

<app-window [Model]="Window.station">
  <ng-container>
    <hw-garbage-station-summary
      [divisionsId]="GlobalStoreService.divisionId"
      [PageIndex]="Window.station.index"
      [GarbageDropEventHistoryContentType]="Window.station.contentType"
      [GarbageDropTaskDivisionId]="GlobalStoreService.divisionId"
      [GarbageDropEventHistoryHandle]="Window.station.garbageDropHandle"
      [GarbageDropEventHistoryTimeout]="Window.station.garbageDropTimeout"
      [garbageStationTableOperation]="false"
    ></hw-garbage-station-summary>
  </ng-container>
</app-window>
<app-window [Model]="Window.fullStation">
  <ng-container>
    <hw-full-garbage-station-summary
      [divisionsId]="GlobalStoreService.divisionId"
    >
    </hw-full-garbage-station-summary>
  </ng-container>
</app-window>
<app-window [Model]="Window.stranded">
  <ng-container>
    <hw-station-stranded
      [divisionId]="GlobalStoreService.divisionId"
      [GarbageStation]="Window.garbageStation"
    ></hw-station-stranded>
  </ng-container>
</app-window>
<app-window [Model]="Window.summary">
  <ng-container>
    <app-statistic-summary
      [Committees]="Committees"
      [Stations]="GarbageStations"
    ></app-statistic-summary>
  </ng-container>
</app-window>
