<ng-container *ngIf="model">
  <div class="video-title-desc fill-height fill-width">
    <h2 class="{{model.titleColor}}">{{ model.title}}</h2>
    <div class="time-label-wrapper" *ngIf="model.subTitle!=''">
      <h4 class="m-0 sky-blue-text" >
        <a class="howell-icon-video sky-blue-text2  subTitle-icon" href="javascript:void(0)" (click)="tagClick()"></a>
        {{model.subTitle}}</h4>
    </div>
    <div class="content-wrapper p-r-20">
      <div class="fill-height fill-width" style="position: relative;">
        <ng-container *ngIf="!model.imgSrc">
          <div class="fill-width fill-height" style="background-color: black;">
          </div>
        </ng-container>
        <ng-container *ngIf="model.imgSrc">
          <img onerror="this.src='../assets/img/black-bg.png'" class="fill-height fill-width" src="{{model.imgSrc}}" alt="">         
        </ng-container>
        <div class="desc-label-wrapper">
          <label class="m-0  text-white">
            <i class="{{model.imgDesc1Icon}} {{model.imgDesc1IconColor}}"></i>
            {{model.imgDesc1}}
          </label>
          <label class="m-0 text-white pull-right">{{model.imgDesc2}}</label>
        </div>
      </div>
    </div>
  </div>
</ng-container>