.card-wrap
  background-color: alpha(#2448a5,0.05) 
  border: 2px  alpha(#7586e0,0.15) solid
  height  100%
  padding: 20px
 
    
.model-item-wrap
  width:272px
  margin-bottom:10px
  height:154px
  border:1px  alpha(#b8d8ff,0.05)   solid
  padding-top: 14px
  background-color: alpha(#0d1f38,0.2)  
  box-shadow: 0 0 5px 0px rgba(127,148,255, .15), inset 0 0 10px 0 rgba(127,148,255, .15)

.model-item-wrap:hover 
  border:1px  #495D92 solid
  cursor: pointer
  background-color: alpha(#2448a5,0.2)  
  box-shadow: 0 0 5px 0px rgba(127,148,255, .3), inset 0 0 10px 0 rgba(127,148,255, .3)

 .model-item-wrap:hover  label{
    color:white  !important;
  }


.model-item-wrap.selected 
  border:1px  #6d86c4 solid
  background-color: alpha(#2448a5,0.4)  
  box-shadow: 0 0 5px 0px rgba(127,148,255, .5), inset 0 0 10px 0 rgba(127,148,255, .5)

.model-item-wrap label
  color: #cfd7ff
  margin: 0
  font-size: 18px
